name: BatCardinal manual build

on:
  workflow_dispatch:

env:
  CACHE_VERSION: 12
  CARDINAL_UNDER_WINE: 1
  CIBUILD: true
  DEBIAN_FRONTEND: noninteractive
  LIBGL_ALWAYS_SOFTWARE: true
  PAWPAW_CI: 1
  PAWPAW_FAST_MATH: 1
  PAWPAW_SKIP_GLIB: 1
  PAWPAW_SKIP_LTO: 1
  PAWPAW_SKIP_LV2: 1
  PAWPAW_SKIP_OPENSSL: 1
  PAWPAW_SKIP_SAMPLERATE: 1
  PAWPAW_SKIP_TESTS: 1

jobs:
  linux:
    strategy:
      matrix:
        target: [x86_64]
    runs-on: ubuntu-latest
    container:
      image: ubuntu:22.04
    steps:
      - name: Install git
        run: |
          apt-get update -qq && apt-get install -yqq --no-install-recommends ca-certificates curl git openssl
          curl -sLO https://launchpad.net/~kxstudio-debian/+archive/ubuntu/toolchain/+files/git_2.34.1-1ubuntu1~bpo20.04.1~ppa1_amd64.deb
          curl -sLO https://launchpad.net/~kxstudio-debian/+archive/ubuntu/toolchain/+files/git-man_2.34.1-1ubuntu1~bpo20.04.1~ppa1_all.deb
          dpkg -i *.deb
          rm *.deb
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up build cache
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            ~/PawPawBuilds
            src/Rack/dep/bin
            src/Rack/dep/include
            src/Rack/dep/lib
            src/Rack/dep/share
            src/Rack/dep/jansson-2.12
            src/Rack/dep/libarchive-3.4.3
            src/Rack/dep/libsamplerate-0.1.9
            src/Rack/dep/zstd-1.4.5
          key: linux-${{ matrix.target }}-v${{ env.CACHE_VERSION }}
      - name: Setup dependencies
        shell: bash
        run: |
          ./deps/PawPaw/.github/workflows/bootstrap-deps.sh linux-${{ matrix.target }}
          apt-get install -yqq wget zip
      - name: Setup dependencies (x86_64)
        if: ${{ matrix.target == 'x86_64' }}
        shell: bash
        run: |
          apt-get install -yqq libsdl2-dev
          apt-get clean
      - name: Set up ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ccache-linux-${{ matrix.target }}-v${{ env.CACHE_VERSION }}
      - name: Build extra dependencies
        run: |
          ./deps/PawPaw/bootstrap-cardinal.sh linux-${{ matrix.target }} && ./deps/PawPaw/.cleanup.sh linux-${{ matrix.target }}
      - name: Build linux
        shell: bash
        run: |
          export PATH="/usr/lib/ccache:${PATH}"
          source deps/PawPaw/local.env linux-${{ matrix.target }}
          make features
          make HAVE_PULSEAUDIO=false NOOPT=true USING_GLES2=${{ matrix.target == 'aarch64' || matrix.target == 'armhf' }} -j $(nproc)
          make unzipfx
      - name: Set sha8 (non-release)
        if: startsWith(github.ref, 'refs/tags/') != true
        run: echo "SHA8=$(echo ${{ github.sha }} | cut -c1-8)" >> $GITHUB_ENV
      - name: Set sha8 (release)
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "SHA8=$(echo ${{ github.ref_name }})" >> $GITHUB_ENV
      - name: Pack binaries
        run: |
          tar -c -h --hard-dereference -z -f ${{ github.event.repository.name }}-linux-${{ matrix.target }}-${{ github.event.pull_request.number || env.SHA8 }}.tar.gz -C bin $(ls bin | grep -e lv2 -e vst -e clap) ../CardinalJACK ../CardinalNative ../LICENSE ../README.md ../docs
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-linux-${{ matrix.target }}-${{ github.event.pull_request.number || env.SHA8 }}
          path: |
            *.tar.gz
      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: |
            *.tar.gz

  macos:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up cache
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            ~/PawPawBuilds
            src/Rack/dep/bin
            src/Rack/dep/include
            src/Rack/dep/lib
            src/Rack/dep/share
            src/Rack/dep/jansson-2.12
            src/Rack/dep/libarchive-3.4.3
            src/Rack/dep/libsamplerate-0.1.9
            src/Rack/dep/zstd-1.4.5
          key: macos-universal-v${{ env.CACHE_VERSION }}
      - name: Setup dependencies
        run: |
          brew uninstall --force --ignore-dependencies cmake
          ./deps/PawPaw/.github/workflows/bootstrap-deps.sh macos-universal-10.15
      - name: Build extra dependencies
        run: |
          export PATH="/usr/local/opt/ccache/libexec:${PATH}"
          ./deps/PawPaw/bootstrap-cardinal.sh macos-universal-10.15 && ./deps/PawPaw/.cleanup.sh macos-universal-10.15
      - name: Set up ccache
        if: steps.cache.outputs.cache-hit == 'true'
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ccache-macos-universal-v${{ env.CACHE_VERSION }}
      - name: Build macOS (base)
        if: steps.cache.outputs.cache-hit == 'true'
        shell: bash
        run: |
          export PATH="/usr/local/opt/ccache/libexec:${PATH}"
          source deps/PawPaw/local.env macos-universal-10.15
          make features
          make NOOPT=true ${MAKE_ARGS} -j $(sysctl -n hw.logicalcpu)
      - name: Build macOS (packaging)
        if: steps.cache.outputs.cache-hit == 'true'
        shell: bash
        run: |
          source deps/PawPaw/local.env macos-universal-10.15
          ./utils/create-macos-installer.sh
      - name: Set sha8 (non-release)
        if: startsWith(github.ref, 'refs/tags/') != true
        run: echo "SHA8=$(echo ${{ github.sha }} | cut -c1-8)" >> $GITHUB_ENV
      - name: Set sha8 (release)
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "SHA8=$(echo ${{ github.ref_name }})" >> $GITHUB_ENV
      - name: Rename macOS bundle
        if: steps.cache.outputs.cache-hit == 'true'
        run: |
          mv ${{ github.event.repository.name }}-macOS.pkg ${{ github.event.repository.name }}-macOS-universal-${{ github.event.pull_request.number || env.SHA8 }}.pkg
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-macOS-universal-${{ github.event.pull_request.number || env.SHA8 }}
          path: |
            ${{ github.event.repository.name }}-*.pkg
      - uses: softprops/action-gh-release@v1
        if: ${{ matrix.debug == '0' && startsWith(github.ref, 'refs/tags/') }}
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: |
            ${{ github.event.repository.name }}-*.pkg

  windows:
    strategy:
      matrix:
        target: [win64]
    runs-on: ubuntu-latest
    container:
      image: ubuntu:22.04
    steps:
      - name: Install git
        run: |
          apt-get update -qq && apt-get install -yqq --no-install-recommends ca-certificates git openssl
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up cache
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            ~/PawPawBuilds
            src/Rack/dep/bin
            src/Rack/dep/include
            src/Rack/dep/lib
            src/Rack/dep/share
            src/Rack/dep/jansson-2.12
            src/Rack/dep/libarchive-3.4.3
            src/Rack/dep/libsamplerate-0.1.9
            src/Rack/dep/zstd-1.4.5
          key: ${{ matrix.target }}-v${{ env.CACHE_VERSION }}
      - name: Set up dependencies
        run: |
          ./deps/PawPaw/.github/workflows/bootstrap-deps.sh ${{ matrix.target }}
          apt-get install -yqq wget xvfb zip
          apt-get clean
      - name: Set up ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ccache-${{ matrix.target }}-v${{ env.CACHE_VERSION }}
      - name: Build extra dependencies
        run: |
          ./deps/PawPaw/bootstrap-cardinal.sh ${{ matrix.target }} && ./deps/PawPaw/.cleanup.sh ${{ matrix.target }}
      - name: Build cross-compiled (base)
        if: steps.cache.outputs.cache-hit == 'true'
        shell: bash
        run: |
          export PATH="/usr/lib/ccache:${PATH}"
          source deps/PawPaw/local.env ${{ matrix.target }}
          make features
          xvfb-run make NOOPT=true -j $(nproc)
      - name: Build cross-compiled (carla)
        if: steps.cache.outputs.cache-hit == 'true'
        shell: bash
        run: |
          export PATH="/usr/lib/ccache:${PATH}"
          source deps/PawPaw/local.env ${{ matrix.target }}
          make carla-win32 -j $(nproc)
          make -C carla EMBED_TARGET=true TESTING=true dist
          make -C carla EMBED_TARGET=true TESTING=true dist
      - name: Build cross-compiled (packaging)
        if: steps.cache.outputs.cache-hit == 'true'
        shell: bash
        run: |
          source deps/PawPaw/local.env ${{ matrix.target }}
          xvfb-run ./utils/create-windows-installer.sh ${{ matrix.target }}
          make unzipfx
      - name: Set sha8 (non-release)
        if: startsWith(github.ref, 'refs/tags/') != true
        run: echo "SHA8=$(echo ${{ github.sha }} | cut -c1-8)" >> $GITHUB_ENV
      - name: Set sha8 (release)
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "SHA8=$(echo ${{ github.ref_name }})" >> $GITHUB_ENV
      - name: Pack binaries
        if: steps.cache.outputs.cache-hit == 'true'
        shell: bash
        run: |
          pushd bin
          zip -r -9 ../${{ github.event.repository.name }}-${{ matrix.target }}-${{ github.event.pull_request.number || env.SHA8 }}.zip $(ls | grep -e lv2 -e vst -e clap)
          popd
          zip -u -9 ${{ github.event.repository.name }}-${{ matrix.target }}-${{ github.event.pull_request.number || env.SHA8 }}.zip LICENSE README.md docs/*.* CardinalJACK.exe CardinalNative.exe
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-${{ matrix.target }}-${{ github.event.pull_request.number || env.SHA8 }}
          path: |
            Cardinal-*.exe
            Cardinal-*.zip
      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: |
            Cardinal-*.exe
            Cardinal-*.zip

  source-tarball:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -yqq liblo-dev
          sudo apt-get clean
      - name: Create source tarball
        run: |
          make HEADLESS=true tarball
          make HEADLESS=true tarball+deps
      - name: Set sha8 (non-release)
        if: startsWith(github.ref, 'refs/tags/') != true
        run: echo "SHA8=$(echo ${{ github.sha }} | cut -c1-8)" >> $GITHUB_ENV
      - name: Set sha8 (release)
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "SHA8=$(echo ${{ github.ref_name }})" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-source-${{ github.event.pull_request.number || env.SHA8 }}
          path: |
            /home/runner/cardinal*.tar.xz
            /home/runner/*/cardinal*.tar.xz
            /home/runner/*/*/cardinal*.tar.xz
      - uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          files: |
            /home/runner/cardinal*.tar.xz
            /home/runner/*/cardinal*.tar.xz
            /home/runner/*/*/cardinal*.tar.xz
